header nav {
    position: fixed;
    height: 90px;
    background: white;
    width: 100%;
    /* overflow: clip; */
}

.logo {
    /* background-color: red; */
    padding: 10px;
    height: 90px;
    float: left;
    /* overflow: clip; */
}

.logo img {
    overflow: clip;
    overflow-clip-margin: content-box;
}

nav {
    box-sizing: border-box;
}

ul {
    /* background-color: blue; */
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* padding-inline-start: 40px; */
    position: relative !important;
    float: left;
}
ul li {
    width: 120px !important;
    position: relative;
    width: 170px;
    float: left;
    text-align: center;
    list-style: none !important;
    text-align: center;
    display: inline-flex;
}

ul li a {
    width: 100%;
    text-decoration: none;
    padding: 18px 0;
    border-right: 1px solid black;
    text-align: center;
    font-weight: Bold !important;
    color: rgba(1,0,102,1) !important;
    border-color: rgba(112,112,112,1) !important;
}

.content {
    background-image: url('../images/back.jpg');
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    background-size: cover;
    padding: 70px 0;
    
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}
.content div {
    margin-top: 50px;
    padding-bottom: 100px;
    text-align: center;
}

.content div a {
    margin: 20px;
}
.content div a img {
    width: 400px;
    height: 400px;
}



@media (max-width: 1500px){
    body .logo {
        max-width: 400px !important;
    }
    body .logo img {
        max-width: 400px !important;
    }
}

@media (max-width: 1400px){
    body .logo {
        max-width: 375px !important;
    }
    body .logo img {
        max-width: 375px !important;
    }
}

@media (max-width: 1200px){
    body .logo {
        max-width: 325px !important;
    }
    body .logo img {
        max-width: 325px !important;
    }
}
